<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/stylesheetforum.css">

</head>

<body>
    <header>
        <img src="images/GCUblacklogo.png" alt="logo" class="logo" style="margin-top: 5px;">
        <ul>
            <li><a href="Home">HOME</a></li>
            <li><a href="Events">EVENTS</a></li>
            <li><a href="Forum">FORUM</a></li>
            <li><a href="Account">ACCOUNT</a></li>
            <li>
                <form action="/logout" method="post">
                    <input class="buttonstyle2" type="submit" value="Log out" /><br />
                </form>
            </li>
        </ul>
    </header>




    <main>

        <br>


        <div class="wrapper">

            <!--  <div class="forum_post">
                <div class="img_pod">
                    <img src="images/noprofil.jpg" alt="noprofile images">
                </div>
                <div class="container_copy">
                    <h3>12 May 2022</h3>
                    <p>Hi guys, just wanted to check out if this is cool to yall</p>
                </div>
                <a class="btn_primary" href='#'>Reply</a>
            </div>
 -->


            <% items.forEach(function(image) { %>

                <div class="forum_post">
                    <div class="img_pod">
                        <img src="images/GCUblacklogo.png" alt="noprofile images" style="background-color: black;">
                    </div>
                    <div>
                        <%= image.firstName %>
                            <%= image.lastName %>
                    </div>
                    <div class="container_copy">
                        <h1>
                            <p style="font-size: 30px;">
                                <i>Title:</i>
                                <%= image.Title %>
                            </p>
                        </h1>
                    </div>
                    <div class="des">
                        <p>
                            <i>Comment:</i>
                            <%= image.Description %>
                        </p>

                        <h3 style="position: relative; float: right; font-size: 12px; color: #ff9966;">
                            <i>Date Posted:</i>
                            <%= image.timestamp %>
                        </h3>
                    </div>
                </div>
                <% }) %>

                    <div class="addNew">
                        <button id="myBtn" class="myBtn">Comment</button>

                        <!-- The Modal -->
                        <div id="myModal" class="modal">
                            <span class="close">&times;</span>
                            <div class="postingSystem">
                                <form action="/forum" METHOD="POST" enctype="multipart/form-data">
                                    <div class="form-group">
                                        <label for="Title"><b>Title:</b></label>
                                        <input type="text" id="Title" name="Title">
                                    </div>

                                    <div class="form-group">
                                        <label for="Description"><b>Description:</b></label>
                                        <textarea name="Description" id="Description" cols="30" rows="5"
                                            placeholder="Enter event description here"></textarea>
                                    </div>

                                    <!-- <input class="file-upload-input" id="image" name="image" value="" type="file"
                                        onchange;="readURL(this)" accept="Image/*"> -->

                                    <button type="submit" class="buttonstylepost1"
                                        style="border-radius: 25em; position: relative; margin-left: auto; margin-right: auto; background-color: black; color: white; padding-left: 35px; padding-right: 35px;">POST</button>


                                </form>
                            </div>
                        </div>
                    </div>
        </div>


        <script type="text/javascript">
            Window.addEventListener("scroll", function () {
                var header = document.querySelector("header");
                header.classList.toggle("sticky", window.scrollY > 0);
            })
        </script>

        <script>

            var modal = document.getElementById("myModal");


            var btn = document.getElementById("myBtn");


            var span = document.getElementsByClassName("close")[0];


            btn.onclick = function () {
                modal.style.display = "block";
            }


            span.onclick = function () {
                modal.style.display = "none";
            }


            window.onclick = function (event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }
        </script>

        <script>

            var myForm = document.getElementById('myForm');

            myForm.addEventListener("submit", function (e) {

                e.preventDefault()


                var eventTitle = document.getElementById('forumTitle').value = "Submitted Title";
                let Description = document.getElementById('description').value = "Susbmitted Description";


                console.log(eventTitle)
                console.log(Description)

            })

        </script>
    </main>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>




    <div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item">
                        <h3>SERVICES</h3>
                        <ul>
                            <li><a href="home">Home</a></li>
                            <li><a href="forum">Forum</a></li>
                            <li><a href="events">Events</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3>ABOUT</h3>
                        <ul>
                            <li><a href="#">Group4</a></li>
                            <li>Dramane Kone</li>
                            <li>Kevin Chika Urama</li>
                            <li> Abdalwahab Al Balili </li>
                            <li> <a href="http://dancvsite.s3-website-eu-west-1.amazonaws.com/" <div class="col-sm-6 col-md-3 item">
                                <h3>ABOUT</h3>
                                <ul>
                                    <li><a href="https://github.com/Fasteddie830/ITP3V2">Group4</a></li>
                                    <li>Dramane Kone</li>
                                    <li><a href="https://linktr.ee/kevinurama.vfx">Kevin Chika Urama</a></li>
                                    <li><a href="https://www.instagram.com/abdulalbalili/">Abdalwahab Al Balili</a> </li>
                                    <li><a href="http://dancvsite.s3-website-eu-west-1.amazonaws.com/">Daniel Nemet</a><a
                                            href="images/quackers.jpg">h</a></li>
                                    <li><a href="https://www.linkedin.com/in/adeel-h-71456a15b">Adeel Hamid</a></li>
                                    <li><a href="https://www.linkedin.com/in/monica-ndubuisi-920769134">Monica Onyinye
                                            Ndubuisi</a>
                                    </li>
                                </ul>
                            </div>
                                    style="color: white;">Daniel Nemeth</a></li>
                            <li>Adeel Hamid</li>
                            <li></a>Monica Onyinye Ndubuisi</li>

                        </ul>
                    </div>

                    <div class="col-md-6 item text">
                        <h3>GROUP 4</h3>
                        <p class="footernote">Thank you for using the GCU Social Platform. We are very grateful for you
                            using our work. Let
                            us know what you think about the platform. </p>
                    </div>
                    <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i
                                class="icon ion-social-twitter"></i></a><a href="#"><i
                                class="icon ion-social-snapchat"></i></a><a href="https://www.instagram.com/kevinurama.vfx/"><i
                                class="icon ion-social-instagram"></i></a></div>
                </div>
                <p class="copyright">Group4 © 2022</p>
            </div>
        </footer>

    </div>
</body>




</html>